<div class="row">
    <div class="large-6 columns">
    	<%= link_to('Play'.html_safe,:controller => "questionsets",:action => "start") %>
	</div>    	
    <div class="large-6 columns">
    	<%= link_to('Next'.html_safe,:controller => "questionsets",:action => "next") %>
	</div>    	
</div>




